
aws-cdk.aws-cloudformation
aws-cdk.aws-cloudwatch
aws-cdk.aws-codebuild
aws-cdk.aws-codecommit
aws-cdk.aws-codedeploy
aws-cdk.aws-codeguruprofiler
aws-cdk.aws-codepipeline
aws-cdk.aws-codepipeline-actions
aws-cdk.aws-dynamodb
aws-cdk.aws-ec2
aws-cdk.aws-iam
aws-cdk.aws-kms
aws-cdk.aws-logs
aws-cdk.aws-s3
aws-cdk.aws-s3-assets
aws-cdk.aws-s3-deployment
aws-cdk.aws-s3-notifications
aws-cdk.aws-secretsmanager
aws-cdk.aws-ssm
aws-cdk.core
aws-cdk.pipelines
aws-cdk.aws-redshiftserverless
aws-cdk.aws-dms
aws-cdk.aws-rds
aws-cdk.aws-sns
aws-cdk.aws-amplify
aws-cdk.aws-elasticbeanstalk
aws-cdk.aws-ses
boto3~=1.17.97
